<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
<script src="/javascripts/jquery.rwdImageMaps.js" type="text/javascript"></script>

<link rel="stylesheet" href="/css/bootstrap.min.css"></style>

<link rel="stylesheet"  href="/css/frontpage.css"></style>
<!--[if IE]>
	<style>
		#content {
			width: 936px;
			height: 425px;
			left: 50%;
			margin-left: -684px;	
		}
</style>
<![endif]-->
<meta name="viewport" content="width=1369, initial-scale=1, maximum-scale=1" />

<script type="text/javascript">
	$(document).ready(function() {
		$('img[usemap]').rwdImageMaps();
	});
	
</script>

</head>
<body>
<div id="sun_image">
	<img src="/images/home_page_degree.png"  />
</div>
<div id="content">
		
		<div style="margin-left:auto; margin-right:auto;">
			<img id="Image-Maps_4201211211422467" src="/images/home_page_places.png" usemap="#Image-Maps_4201211211422467" border="0" width="1369" height="625" alt="" />
			<map id="_Image-Maps_4201211211422467" name="Image-Maps_4201211211422467" >
			<area shape="rect" coords="1062,466,1364,605" href="/showcase/newyork" alt="" title=""  border="0"   />
			<area shape="rect" coords="732,466,1038,605" href="http://ddbchicago-alist.usomni.com" alt="" title="" border="0"   />
			<area shape="rect" coords="363,465,669,604" href="http://cargocollective.com/DDBcanadaIAOY" alt="" title="" border="0"    />
			<area shape="rect" coords="11,461,325,600" href="/showcase/westcoast" alt="" title="" border="0"   border="0" />
			</map>
		</div>
</div>

</body>

</html>