
div#content {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;	
}

div#content div {
	margin-top: 40px;
	margin-bottom: 40px;
}

div.post {
	margin-bottom: 20px;
	border-width: 2px;
	border-style: dotted;
	padding: 12px 12px 12px 12px;
}

img.image_thumb
{
	width: 296px;
	height: 197px;
}