body {
	background-color: #ffffff;
	min-width: 1024px;
}

#content {
	height: 625px;
	width: 65%; 




	margin: 0px auto;
	position: relative;
	top: 150px;

}


#sun_image {
	position: absolute;
	float: right;
	top: 0px;
	right: 0px;
	z-index: -1000;
}

img[usemap] {
		border: none;
		height: auto;
		max-width: 100%;
		width: auto;
	}