body {
	background-color: #e7e7e7;
}

#flashContent {
	margin-left: 65px;
}

div#left_div
{
	float: left;
	height: 661px;
	margin-bottom: auto;
	margin-right: 20px;
	width: 28px;
}

div#left_div img, div#right_div img
{
	margin-top: auto;
	margin-bottom: auto;
}


#videoplayer
{
	width: 890px;
	height: 501px;
}

div#container
{
	width: 1131px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	padding-top: 7%;
}

div.nav_container
{
	margin-top: 300px;
	margin-bottom: auto;
	width: 26px;
	height: 81px;
	vertical-align: middle; 
}

.small
{
	font-family: helvetica, arial;
	font-size: 14px;
	font-weight: bold;
}

a.toc_link 
{
	font-family: helvetica, arial;
	font-size: 24px;
	text-decoration: none;
	font-weight: bolder;
	color: #000000;	
}

a.toc_link:hover
{
	
	text-decoration: underline;
	
}

div#video_container
{
	width: 890px;
	height: 501px;
	
	margin-top: 26px;
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
	div#container
	{
		padding-top: 3%;
	}
	
}

div#right_div
{
	float: left;
	height: 661px;
	margin-bottom: auto;
	margin-left: 20px;
	width: 28px;

}

div#pdflink_container
{
	margin-left: 50px;
	display: block;
	float: left;
	margin-top: 8px;
}

div#pdflink_container a
{
	font-family: helvetica, arial;
	font-size: 12px;


}

div#toc
{
	width: 135px;
	margin-top: 238px;
	margin-left: 737px;
}

div.toc_item
{
	margin-bottom: 3px;
	margin-top: 3px;
	width: 280px;
}

div#image_holder
{
	display: inline-block;
	float: left;
	width: 1025px;
	height: 663px;
	
}