<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="/css/bootstrap.min.css"></style>
<link rel="stylesheet"  href="/css/admin.css"></style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('input.agency').filter('[value=<%= @post.agency %>]').attr('checked', 'checked');
	$('input.type').filter('[value=<%= @post.type %>]').attr('checked', 'checked');
});
</script>

</head>

<body>
	<div id="content">
		<form action='/posts/<%= @post.id %>' method='post' enctype='multipart/form-data'>
			<input type="hidden" name="_method" value="put" />
			<input type="hidden" name="post[id]" value="<%= @post.id %>" />

			<div  class="formfield">
				<h3>Enter name</h3>
				<input type="textfield" name='post[name]' value="<%= @post.name %>" />
			</div>
			<div class="formfield">
				<h3>Which agency is this for?</h3>
				<input type="radio" class="agency" name="post[agency]" value="newyork" />DDB New York<br/>
				<input type="radio"  class="agency"  name="post[agency]" value="chicago" />DDB Chicago<br/>
				<input type="radio"  class="agency"  name="post[agency]" value="westcoast" />DDB West Coast

			</div>

			<div class="formfield">
				<h3>Display Index</h3>
				<input type="textfield" name="post[display_index]" value="<%= @post.display_index %>" /><br/>
				

			</div>

			<div class="formfield">
				<h3>Post type</h3>
				<input type="radio" class="type" name="post[type]" value="video" />Video<br/>
				<input type="radio" class="type" name="post[type]" value="image" />Image Only

			</div>

			<div class="formfield">
				<h3>Is Table of Contents?</h3>
				<input type="checkbox" name="post[is_toc]" value="true" />Yes<br/><br/>

				Link 1 Index<input type="number"  name="post[link1]" value="<%= @post.link1 %>" /><br/>
				Link 1 Text<input type="text" name="post[link1_text]"  value="<%= @post.link1_text %>" /><br/><br/>
				
				Link 2 Index<input type="number"  name="post[link2]"  value="<%= @post.link2 %>"  /><br/>
				Link 2 Text<input type="text" name="post[link2_text]"  value="<%= @post.link2_text %>"  /><br/><br/>
				
				Link 3 Index<input type="number"  name="post[link3]" value="<%= @post.link3 %>"  /><br/>
				Link 3 Text<input type="text" name="post[link3_text]"   value="<%= @post.link3_text %>"  /><br/><br/>
		
				Link 4 Index<input type="number"  name="post[link4]"  value="<%= @post.link4 %>"  /><br/>
				Link 4 Text<input type="text" name="post[link4_text]"    value="<%= @post.link4_text %>"  /><br/><br/>
				
				Link 5 Index<input type="number"  name="post[link5]"  value="<%= @post.link5 %>"  /><br/>
				Link 5 Text<input type="text" name="post[link5_text]" value="<%= @post.link5_text %>"  /></textarea><br/><br/>
			
				Link 6 Index<input type="number"  name="post[link6]"  value="<%= @post.link6 %>" /><br/>
				Link 6 Text<input type="text" name="post[link6_text]"  value="<%= @post.link6_text %>" /><br/><br/>
				
				
				
			</div>
			
			<div class="formfield" id="videourl">
				<h3>Video URL</h3>
				<textarea name="post[video_url]" ><%= @post.video_url %></textarea>
				<h3>HTML5 Video URL</h3>
				
				<textarea name="post[non_flash_video_url]"><%= @post.non_flash_video_url %></textarea><br/>
				
				<h3>Video Image URL</h3>
				<textarea name="post[video_image]"><%= @post.video_image %></textarea><br/>

			</div>

			<div  class="formfield">
				<h3>Choose an image to upload</h3>
				<input type="file" name="post[image_file]"></input>
			</div>
			<div  class="formfield">
				
				<input type="submit"></input>
			</div>
			

		</form>

		<a href="/posts"><< Administrative Home</a>
	</div>
</body>

</html>
