<!DOCTYPE html>

<html>

<head>
<link rel="stylesheet" href="/css/bootstrap.min.css"></style>
<link rel="stylesheet"  href="/css/admin.css"></style>
<meta name="viewport" content="width=1024, initial-scale=1, maximum-scale=1">

</head>

<body>

<div id="content">
<a href="/posts/new">New Post</a>

	<% @posts.each do |post| %>
		<div class="post">
			<b>Name:</b> <%= post.name %><br/>
			<b>Agency:</b> <%= post.agency %><br/>
			<b>Type:</b> <%= post.type %><br/>
			<b>Is Table of Content:</b> <%= post.is_toc %><br/>
			<b>Display Index:</b> <%= post.display_index %><br/>
			<b>Video URL:</b> <%= post.video_url %><br/>

			<b>Image:</b> <br/><img class="image_thumb" src="/uploads/<%= post.image_file %>" /><br/><br/>
			
			<a href="/posts/edit/<%= post.id %>" />Edit</a>

			<form action="/posts/<%= post.id %>" method="post">
				<input name="_method" type="hidden" value="delete" />
				<input type="submit" value="delete">
			</form>

		</div>
	<% end %>
</div>


</body>

</html>
