<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>

<link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
<script src="http://vjs.zencdn.net/c/video.js"></script>
<meta name="viewport" content="width=1140" />
    <script type="text/javascript" src="/javascripts/swfobject.js"></script>

<link rel="stylesheet" href="/css/showcase.css"></style>

<!--[if IE]>
<style>
	div#container
	{
		width: 1131px;
		margin: 0 auto;
		position: relative;
		left: 50%;
		margin-left: -565px;	
	}
</style>
<![endif]-->


<script language="javascript" type="text/javascript">
		var swfVersionStr = "10.0.0";
        var flashvars = {
                video: "<%= URI::encode(@post.video_url || "") %>&still=<%= URI::encode(@post.video_image || "") %>"
        };
        var params = {
                allowScriptAccess: "always",
                wmode: "opaque"
        };
        swfobject.embedSWF("/videos/videoplayer.swf", "flashContent", "890", "501", swfVersionStr,"",flashvars,params);
   //]]>
</script>


<style>
div#image_holder {
	
	background-image: url('/uploads/<%= @post.image_file %>');	
}
</style>

<script type="text/javascript">
$(document).ready(function() {
	$('#image_holder').hide();
	$('#image_holder').fadeIn(500);
	
	// jquery swiping
	/*
	<% unless @post_next.nil? %>
		$("#image_holder").swipeleft(function() {
	    	$.mobile.changePage("/showcase/<%= params[:agency] %>/<%= @post_next.id %>");
		});
	<% end %>

	<% unless @post_prev.nil? %>
		$("#image_holder").swiperight(function() {
   			$.mobile.changePage("/showcase/<%= params[:agency] %>/<%= @post_prev.id %>");
		});
	<% end %>
	*/
	var isiPad = navigator.userAgent.match(/iPad/i) != null;
});



</script>

</head>
<body>
	
	<div id="container">
		<div id="left_div">
			<div class="nav_container">
				<% unless @post_prev.nil? %>
					<a href="/showcase/<%= params[:agency] %>/<%= @post_prev.id %>"><img border="0" src="/images/aoy_left.png" id="left_nav"/></a>
				<% end %>
			</div>
		</div>
		<div id="image_holder">
			<% if @post.type == 'video' && !@post.video_url.nil? && !@post.video_image.nil? %>
				<div id="video_container">
					<div id="flashContent" width="890" height="492">
				        	<video id="my_video_1" class="video-js vjs-default-skin" controls
  preload="auto" width="890" height="492") %>"
  data-setup="{}">
  <source src="<%= URI::encode(@post.non_flash_video_url || "") %>" type='video/mp4'>
									</video>
													    </div>
				</div>
			<% elsif @post.is_toc %>
				<div id="toc">
					<% if !(@post.link1.nil? || @post.link1_text.nil?) %>
						<div class="toc_item">
							<span class="small">1.</span> 
							<a class="toc_link" href="/showcase/<%= @post.agency %>/di/<%= @post.link1 %>"><%= @post.link1_text %></a>
						</div>
					<% end %>
					<% if !(@post.link2.nil? || @post.link2_text.nil?) %>
						<div class="toc_item">
						<span class="small">2.</span>
						  <a class="toc_link" href="/showcase/<%= @post.agency %>/di/<%= @post.link2 %>"><%= @post.link2_text %></a>
						 </div>
					<% end %>
					<% if !(@post.link3.nil? || @post.link3_text.nil?) %>
						<div class="toc_item">
						<span class="small">3.</span> 
						<a class="toc_link" href="/showcase/<%= @post.agency %>/di/<%= @post.link3 %>"><%= @post.link3_text %></a>
						 </div>
					<% end %>
					<% if !(@post.link4.nil? || @post.link4_text.nil?) %>
						<div class="toc_item">
						<span class="small">4.</span>
						<a class="toc_link" href="/showcase/<%= @post.agency %>/di/<%= @post.link4 %>"><%= @post.link4_text %></a>
						 </div>
					<% end %>
 					<% if !(@post.link5.nil? || @post.link5_text.nil?)  %>
	 					<div class="toc_item">
							<span class="small">5.</span> 
							<a class="toc_link" href="/showcase/<%= @post.agency %>/di/<%= @post.link5 %>"><%= @post.link5_text %></a>
						</div>
					<% end %>
 					<% if  !(@post.link6.nil? || @post.link6_text.nil?)  %>
						<div class="toc_item">
							<span class="small">6.</span> 
							<a class="toc_link" href="/showcase/<%= @post.agency %>/di/<%= @post.link6 %>"><%= @post.link6_text %></a>
						</div>
 					<% end %>
 					

				</div>
			<% end %>
		</div>
		<div id="right_div">
			<div class="nav_container">
				<% unless @post_next.nil? %>
					<a href="/showcase/<%= params[:agency] %>/<%= @post_next.id %>"><img src="/images/aoy_right.png" id="right_nav" border="0" /></a>
				<% end %>
			</div>
		</div>


		<div id="pdflink_container">
			
				
					<% if @post.agency == 'newyork' %>
						<a href="http://b8b1824d082c6b0c58ff-032f5df82326d45bc7a8992b9c95d231.r9.cf1.rackcdn.com/DDB_NY_AOTY.pdf">Download PDF</a>
					<% elsif @post.agency == 'westcoast' %>
						<a href="http://b8b1824d082c6b0c58ff-032f5df82326d45bc7a8992b9c95d231.r9.cf1.rackcdn.com/DDB_WestCoast_AOTY.pdf">Download PDF</a>
					<% end %>

				
		</div>
	</div>

</body>

</html>